@import "tailwindcss";

body {
  font-family: 'SF Pro Display', sans-serif;
}

/* Hide scrollbar utility */
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

